css/_animation.scss
css/_card.scss
css/_project.scss
css/_size.scss
css/_type.scss
css/_variables.scss
css/cursor.png
css/styles.css
css/styles.css.map
css/styles.scss
html/css/_animation.scss
html/css/_card.scss
html/css/_project.scss
html/css/_size.scss
html/css/_type.scss
html/css/_variables.scss
html/css/cursor.png
html/css/styles.css
html/css/styles.css.map
html/css/styles.scss
html/index.html
html/jasonzachariah/index.html
html/octobud.html
html/semoticcard.html
html/yorkshuttle.html
octobud.html
package-lock.json
semoticcard.html
yorkshuttle.html
