node_modules/
portfolio/.next/_events_409284.json
portfolio/.next/dev/build-manifest.json
portfolio/.next/dev/cache/.rscinfo
portfolio/.next/dev/cache/images/JxR3mLDRZKZLsR_AHjFTTtz84gCkUpGq7xHOWnef2oA/14400.1787281242650.xl_O2YtVi0lZLFzvWo7Vw6Hb5ihYTocJhTRcEb5bdts.Vy8iMzdiOS0xOWMxMGJmZDExZiI.webp
portfolio/.next/dev/cache/images/uRub_TCQT1fcK_PSffpCyAF1I3gU_LpV28Vd_rS1uw8/14400.1787281212232.E38RdqbKL6pvb4YHXecppQJoBtY-w3KZrruOf9BShwk.Vy8iNGJhYTAtMTljMTBiZmQyZTYi.webp
portfolio/.next/dev/cache/next-devtools-config.json
portfolio/.next/dev/cache/turbopack/v16.3.1-3d32eb87/00000001.sst
portfolio/.next/dev/cache/turbopack/v16.3.1-3d32eb87/00000002.sst
portfolio/.next/dev/cache/turbopack/v16.3.1-3d32eb87/00000003.sst
portfolio/.next/dev/cache/turbopack/v16.3.1-3d32eb87/00000004.sst
portfolio/.next/dev/cache/turbopack/v16.3.1-3d32eb87/00000005.sst
portfolio/.next/dev/cache/turbopack/v16.3.1-3d32eb87/00000006.sst
portfolio/.next/dev/cache/turbopack/v16.3.1-3d32eb87/00000007.sst
portfolio/.next/dev/cache/turbopack/v16.3.1-3d32eb87/00000008.meta
portfolio/.next/dev/cache/turbopack/v16.3.1-3d32eb87/00000009.meta
portfolio/.next/dev/cache/turbopack/v16.3.1-3d32eb87/00000010.meta
portfolio/.next/dev/cache/turbopack/v16.3.1-3d32eb87/00000011.meta
portfolio/.next/dev/cache/turbopack/v16.3.1-3d32eb87/CURRENT
portfolio/.next/dev/cache/turbopack/v16.3.1-3d32eb87/LOG
portfolio/.next/dev/cache/webpack/client-development/0.pack.gz
portfolio/.next/dev/cache/webpack/client-development/1.pack.gz
portfolio/.next/dev/cache/webpack/client-development/index.pack.gz
portfolio/.next/dev/cache/webpack/client-development/index.pack.gz.old
portfolio/.next/dev/cache/webpack/server-development/0.pack.gz
portfolio/.next/dev/cache/webpack/server-development/index.pack.gz
portfolio/.next/dev/logs/next-development.log
portfolio/.next/dev/package.json
portfolio/.next/dev/prerender-manifest.json
portfolio/.next/dev/react-loadable-manifest.json
portfolio/.next/dev/routes-manifest.json
portfolio/.next/dev/server/app-paths-manifest.json
portfolio/.next/dev/server/app/page.js
portfolio/.next/dev/server/app/page_client-reference-manifest.js
portfolio/.next/dev/server/interception-route-rewrite-manifest.js
portfolio/.next/dev/server/middleware-build-manifest.js
portfolio/.next/dev/server/middleware-manifest.json
portfolio/.next/dev/server/middleware-react-loadable-manifest.js
portfolio/.next/dev/server/next-font-manifest.js
portfolio/.next/dev/server/next-font-manifest.json
portfolio/.next/dev/server/pages-manifest.json
portfolio/.next/dev/server/server-reference-manifest.js
portfolio/.next/dev/server/server-reference-manifest.json
portfolio/.next/dev/server/vendor-chunks/@swc.js
portfolio/.next/dev/server/vendor-chunks/next.js
portfolio/.next/dev/server/webpack-runtime.js
portfolio/.next/dev/static/chunks/_app-pages-browser_node_modules_next_dist_client_dev_noop-turbopack-hmr_js.js
portfolio/.next/dev/static/chunks/app-pages-internals.js
portfolio/.next/dev/static/chunks/app/layout.js
portfolio/.next/dev/static/chunks/app/not-found.js
portfolio/.next/dev/static/chunks/app/page.js
portfolio/.next/dev/static/chunks/main-app.js
portfolio/.next/dev/static/chunks/polyfills.js
portfolio/.next/dev/static/chunks/webpack.js
portfolio/.next/dev/static/css/app/layout.css
portfolio/.next/dev/static/development/_buildManifest.js
portfolio/.next/dev/static/development/_ssgManifest.js
portfolio/.next/dev/static/webpack/633457081244afec._.hot-update.json
portfolio/.next/dev/static/webpack/ddfb3edc78aac133.webpack.hot-update.json
portfolio/.next/dev/static/webpack/webpack.ddfb3edc78aac133.hot-update.js
portfolio/.next/dev/trace
portfolio/.next/dev/types/app/layout.ts
portfolio/.next/dev/types/app/page.ts
portfolio/.next/dev/types/cache-life.d.ts
portfolio/.next/dev/types/package.json
portfolio/.next/dev/types/root-params.d.ts
portfolio/.next/dev/types/routes.d.ts
portfolio/.next/dev/types/validator.ts
portfolio/next-env.d.ts
portfolio/tsconfig.tsbuildinfo
