

$primary-font: "halyard-display", sans-serif;
$secondary-font:"halyard-display", sans-serif;
$primary-black:#393835;
$secondary-black:#8b8079;
$primary-white:#E9E8E5;
$accent:#6BE06B; 
$accenttrans:#6be06b97;

::-moz-selection { /* Code for Firefox */

  background: $secondary-black;
  mix-blend-mode: multiply;

}
  
  ::selection {
  
    background: $secondary-black;
    mix-blend-mode: multiply;
  }
  