html.is-changing .transition-main {
  transition: opacity 250ms ease-in-out;
}

html.is-leaving .transition-main {
  transition: opacity 250ms ease-in-out;
}

html.is-animating .transition-main {
  opacity: 0;
}


.change:before {

  content:"jason [";
 
}

.cursor:after{
  opacity: 1;
  content:"] zachariah";
}