.topnav {
  overflow: hidden;

}

.topnav a {
  @extend h4;
  float: left;
  display: block;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

.topnav a:hover {
  background-color: #ddd;
  color: black;
}

.topnav a.active {
  background-color: $accent;
  color: white;
}

.topnav .icon {
  display: none;
}


.stripes {
  border: solid 2px  #a7a6a6;
  mix-blend-mode: multiply; 
  background-color: #f2f2f200;

  background: repeating-linear-gradient( -45deg, #cbcbcb, #cbcbcb 2px, $primary-white 2px, $primary-white 10px );
}

.greyborder{
  
outline: 2px solid  $accent2;
  
}

#fixed {
  display: block;
  position: absolute;
}

.navbarcon {

  z-index: 3;
  text-wrap: nowrap;

}


.animate-on-scroll {
  transform: translate(0px, 50px);
  opacity: 0;
  transition: all 0.8s ease;
  transition-delay: 0.2s;




}




.animate {
  transform: translate(0px, 0);
  opacity: 1;

}

section{

  margin: 2rem 0;
}

.colorbg{
  background-color: $accent2;
}

.line{
  stroke-width: 0.2rem;
  background-color: $primary-black;

}

.parent {

}

.child {
  

width: 20rem


}

.covermask{
  aspect-ratio: 3/2;

  overflow: hidden;
 
}

.parent:hover .child {

  width: 30rem;
transition: 0.3s;
}