@import 'containers';



.homecard_image{
background-color: $primary-black;
    height: 50vw;
width: 100%;
}
.homecard_title{

}
.homecard_caption{

    flex-direction: row;
}


.card-hover {
    border: $primary-white 3px dashed;
    -webkit-mask: 
      conic-gradient(from 180deg at top 8px right 8px, $primary-white 90deg,$primary-white 0)
       var(--_i,200%) 0  /200% var(--_i,8px) border-box no-repeat,
      conic-gradient(at bottom 8px left  8px,  $primary-white 90deg,$primary-white 0)
       0   var(--_i,200%)/var(--_i,8px) 200% border-box no-repeat,
      linear-gradient($primary-white 0 0) padding-box no-repeat;
    transition: .3s, -webkit-mask-position .3s .3s;
  }
  .card-hover:hover {
    --_i: 100%;
    color: $accent;
    transition: .3s, -webkit-mask-size .3s .3s;
  }
  









.nav{
    width: 100vw;
    height: 10vh;
   
    display: flex;
    position: fixed;
    justify-content: center;
    align-items: center;
    border-bottom: 1px black solid

}
.navcontainer {
   margin-left: 30px;
   margin-right: 30px;
    width: 100vw;
    height: 100vh;
    display: flex;
    position: relative;
    justify-content: flex-end;
    align-items: center;
    
    
}



button{

    color: $primary-black;
    font-size: 1rem;
    font-family: $secondary-font;
    font-weight: 600;
    text-transform: uppercase;
    word-wrap: break-word;
    display: flex;
    width: 105px;
    padding: 10px;
    margin-left: 10px;
    margin-right: 10px;
    border-radius: 100px;
    border: 1px solid var(--grey, $primary-black);
    background: $accent;
    justify-content: center;
    align-items: center;
    gap: 10px;
    transition-duration: 0.4s;

}
button:hover{

    background: #409520;
}


.border{
    width: 7.5rem;
    height: 3rem;
 display: flex;
    padding: 5px;
    justify-content: center;
    align-items: center;
    gap: 10px;
    flex-shrink: 0;

    background-color: aliceblue;
     border: 1px solid $primary-black;


}



/*

.card-container {
   
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    @include container()
  }
.right-item{
    display: flex;
    text-align: right; 
    align-items: flex-end;
    width: 20rem;
 
   
}
.left-item{
    align-items: flex-end;
    width: 20rem;
 
   
}
*/