

.greyborder {
  outline: 2px solid $secondary-black;
}


.navbarcon {
  background-color: $accent;
  z-index: 8;

  text-wrap: nowrap;
}

.animate-on-scroll {
  transform: translate(0px, 50px);
  opacity: 0;
  transition: all 0.8s ease;
  transition-delay: 0.2s;
}

.animate {
  transform: translate(0px, 0);
  opacity: 1;
}

section {
  margin: 2rem 0;
}

.colorbg {
  background-color: $primary-white;
}

.line {
  stroke-width: 0.2rem;
  background-color: $primary-black;
}


.child {
  width: 100%;
  transition: all ease-in-out 0.5s;
}

.covermask {
  aspect-ratio: 16/9;

  overflow: hidden;
}

.parent:hover .child {
  width: 30rem;

}

