@import 'animation';

.project-item {

  margin-left: auto;
  margin-right: auto;

}
 

.half {
  width: 50%;

}

.full {

  width: 100%;

}

.third {

  width: 40%;

}

.imagefull {}

.project-container {

  border-left: 2px solid $primary-white;
  border-bottom: 2px solid $primary-white;
  border-right: 2px solid $primary-white;
  max-width: 1240px;
  margin: 0 auto;
  padding: 0.5rem;
  justify-content: top;
  display: flex;
  flex-direction: row;
 
 


}

.project-container img {
  max-width: 800px;
  height: auto;
  display: block;
}

.project-list {
  min-width: 33%;
  margin: 0 auto;

  justify-content: top;
  display: flex;
  flex-direction: column;
  transition-duration: 0.4s;
}

.progress-bar {
  position: fixed;
  height: 8px;
  background: $accent;
  width: 0%;
}

.intro {
  background-color: $accent;

}

.leftline {
  padding-left: 1rem;
  border-left: 2px dotted $accent;

}