/**reponsive sizes**/

@import 'project';
@import 'type';


.container {
  max-width: 1240px;
  margin: 0 auto;
  flex-direction: row;
}

/**larger desktop**/
@media (max-width: 1240px) {
  .container {
    margin: 0 2rem;
    flex-direction: row;
  }
 
  
}


/** tablet**/

@media (max-width: 800px) {
  html {
    font-size: 14px;
  }


  .project-container {
    max-width: 1240px;
    margin: 0 auto;

    justify-content: top;
    display: flex;
    flex-direction: column;
    transition-duration: 0.4s;

  }

.project-list{
  max-width: 100%;
  margin: 0;

  justify-content: top;
  display: flex;
  flex-direction: column;
  transition-duration: 0.4s;
}
.project-item {
  margin-left: 0;
  width: 100%;
}

  .container {
    margin: 0 2rem;
  }

  
}

/** phone**/

 /**larger desktop**/
@media (max-width: 640px) {
  .container {
    margin: 0 1rem;
    flex-direction: row;
  }
 
  
}