/**reponsive sizes**/


@import 'type';


.container {
  max-width: 100vw;
  margin:  0rem ;
  padding: 0rem 8rem;

}

/**larger desktop**/
@media (max-width: 1024px) {
  
 


}


/** m size**/

@media (max-width: 768px) {
  html {
    font-size: 14px;
  }
 

}

/** s size **/


@media (max-width: 576px) {
  html {
    font-size: 12px;
  }

.container{
  overflow-x: hidden;
  padding: 0rem 2rem;
}


}

