
body, html {
  height: 100%;
  margin: 0;
}

@mixin container($color: #fff) {
  justify-content: top;
  display: flex;
  height: 30 rem;
  flex-direction: row;
  text-align: left;
  background: $color;
}

.flex-d {
  @include container()
}


.flex-green {
  @include container($accent)
}

.flex-white {
  @include container($primary-white)
}

.flexboxItem {
  margin-left: auto;
  margin-right: auto;
  width: 30rem;
  border-left: 1px dashed #333;
  padding: 1rem;
}



html {

  /* Responsive layout - makes a one column-layout instead of two-column layout */
  @media (max-width: 800px) {

    /* Reuduces all font sizes by 75%)*/

    font-size: 75%;

    .flex-green{

      flex-direction: column;
    }
    .flex-white{

      flex-direction: column;
    }

  }

  /**
@media screen and (max-width: 500px) {
    .flex-container {
        margin-left: 2rem;
        margin-right: 2rem;
        flex-direction: column;
        
    }
}
@media screen and (max-width: 768px) {
    .flex-container {
        margin-left: 3rem;
        margin-right: 3rem;
        flex-direction: column;
    }
}
@media screen and (max-width: 992px) {
    .flex-container {
        margin-left: 4rem;
        margin-right: 4rem;
        flex-direction: column;
    }
}
@media screen and (max-width: 1200px) {
    .flex-container {
        margin: 0 5rem;
        flex-direction: column;
    }
}
    */
}