* {
    box-sizing: border-box;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
 
    scroll-behavior: smooth;
    hyphens: auto;
   

}



a {
    text-decoration: none;
    font-family: $secondary-font;
    font-weight: 700;
    color: $primary-black;
}




h1 {


    color: $primary-black;

    font-size: 5rem*1.5;
    line-height: 4.5rem*1.5;
    margin-top: 1.2777778rem;
    margin-bottom: 2.5555556rem;
    font-family: $secondary-font;
    letter-spacing: -1px;
    font-weight: 700;

    font-style: normal;



    margin: 0;
    
}

h2 {

    display: flex;











    color: $primary-black;
    font-size: 2.6111111rem*1.25;
    line-height: 3.8333333rem;
    margin-top: 1.2777778rem;
    margin-bottom: 1.2777778rem;

    font-family: $secondary-font;
    font-weight: 500;
    font-style: normal;

    word-wrap: break-word
}



h3 {
    margin-top: 0;
    display: flex;
    align-items: center;
    color: $primary-black;
    font-size: 1.6111111rem;
    line-height: 2.5555556rem;
    margin-top: 1.2777778rem;
    margin-bottom: 0rem;



    /*font code*/
    font-family: $secondary-font;
    font-weight: 300;





}




h4 {
    color: $primary-white;
    background-color: $primary-black;
    padding: 0.25rem 1rem;
    display: inline-block; 
    font-size: 1rem;
    line-height: 1.2777778rem;
    margin-top: 1.2777778rem;
    margin-bottom: 0rem;
    font-family: $secondary-font;
    font-weight: 500;
    text-transform: uppercase;
    
}

h5 {
    color: $primary-black;
    font-size: 1rem;
    line-height: 1.2777778rem;
    margin-top: 1.2777778rem;
    margin-bottom: 0rem;
    font-family: $secondary-font;
    font-weight: 700;
    text-transform: uppercase;
    word-wrap: break-word
}

h6 {
    color: black;
    font-size: 1rem;
    border: 1px solid $secondary-black;
    padding: 0.25rem 1rem;
    display: inline;
    font-family: $secondary-font;
    font-weight: 200;
    word-wrap: break-word
}

p {
    color: $secondary-black;
    font-size: 1rem;
    line-height: 1.5rem;
    margin-top: 0rem;
    margin-bottom: 1.2777778rem;
    font-family: $primary-font;
    font-weight: 500;
    word-wrap: break-word
}

figcaption {
    text-align: center;
    @extend h4;

}