

$primary-font: "aktiv-grotesk", sans-serif;
$secondary-font:"ibm-plex-mono", sans-serif;
$primary-black:oklch(21% 0.006 285.885);
$secondary-black:oklch(55.2% 0.016 285.938);
$primary-white:rgb(229, 231, 235);
$accent:#ea580c;
$accent2:#f97316;

::-moz-selection { /* Code for Firefox */

  background: $secondary-black;
  mix-blend-mode: multiply;

}
  
  ::selection {
  
    background: $secondary-black;
    mix-blend-mode: multiply;
  }
  