

$primary-font: "neue-haas-grotesk-text", sans-serif;
$secondary-font:"cofo-sans-mono-variable", sans-serif;
$primary-black:#393835;
$secondary-black:#888383;
$primary-white:#E9E8E5;
$accent:#6BE06B;
$accenttrans:#6be06b97;