@import url('https://fonts.googleapis.com/css2?family=Geist+Mono:wght@100..900&family=Geist:wght@100..900&display=swap');
@font-face {
  font-family: 'SF Pro Text';
  src: url(SF-Pro-Text-Medium.otf);
}
$primary-font: "SF Pro Text", sans-serif;
$secondary-font:"Geist Mono", monospace;
$primary-black: #0F0F0F;
$secondary-black: #8B8B8B;
$primary-white: #F2F2F2;

$accent: #EC5A2A;

::selection {
    color: $primary-black;
    background: $secondary-black;
  }