/* file import */
@view-transition {
  navigation: auto;
}

@font-face {
  font-family: SFProText;
  src: url(/Users/jasonzachariah/Documents/GitHub/jasonzachariah.github.io/SFProText-Medium.ttf);
}
@font-face {
  font-family: SF-Mono-Medium;
  src: url(/Users/jasonzachariah/Documents/GitHub/jasonzachariah.github.io/SF-Mono-Medium.otf);
}
::-moz-selection {
  color: #2a2a2a;
  background: #8B8B8B;
}
::selection {
  color: #2a2a2a;
  background: #8B8B8B;
}

.greyborder {
  transition: all 0.5s ease;
  --s: 10px; /* corner size */
  padding: 15px; /* the gap */
  border: 2px solid #8B8B8B;
  -webkit-mask: conic-gradient(at var(--s) var(--s), rgba(0, 0, 0, 0) 75%, #000 0) 0 0/calc(100% - var(--s)) calc(100% - var(--s)), conic-gradient(#000 0 0) content-box;
          mask: conic-gradient(at var(--s) var(--s), rgba(0, 0, 0, 0) 75%, #000 0) 0 0/calc(100% - var(--s)) calc(100% - var(--s)), conic-gradient(#000 0 0) content-box;
}

.parent:hover .greyborder {
  transform: scale(1.05);
  animation-duration: 4s;
  --s: 20px;
}

.navbarcon {
  background-color: #EC5A2A;
  z-index: 8;
  text-wrap: nowrap;
}

.animate-on-scroll {
  transform: translate(0px, 50px);
  opacity: 0;
  transition: all 0.8s ease;
  transition-delay: 0.2s;
}

.animate {
  transform: translate(0px, 0);
  opacity: 1;
}

section {
  margin: 2rem 0;
}

.colorbg {
  background-color: #F0F0F0;
}

.line {
  stroke-width: 0.2rem;
  background-color: #2a2a2a;
}

.child {
  width: 100%;
  transition: all ease-in-out 0.5s;
}

.covermask {
  aspect-ratio: 16/9;
  overflow: hidden;
}

.parent:hover .child {
  width: 30rem;
}

a {
  text-decoration: none;
  font-family: SF-Mono-Medium;
  font-weight: 700;
  color: #2a2a2a;
}

h1 {
  color: #2a2a2a;
  font-size: 5rem;
  line-height: 4.5rem;
  margin-top: 1.2777778rem;
  font-family: SF-Mono-Medium;
  letter-spacing: -4px;
  font-weight: 600;
  text-wrap: nowrap;
  font-style: normal;
  margin: 0;
}

h2 {
  display: flex;
  color: #2a2a2a;
  font-size: 2.6111111rem;
  line-height: 3.8333333rem;
  letter-spacing: -2px;
  font-family: SF-Mono-Medium;
  font-weight: 500;
  font-style: normal;
  word-wrap: break-word;
}

h3 {
  color: #2a2a2a;
  font-size: 2.1481481333rem;
  margin-bottom: 0.2777778rem;
  letter-spacing: -1px;
  /*font code*/
  font-family: SFProText;
  font-weight: 500;
  vertical-align: top;
}

h4, figcaption {
  color: #8B8B8B;
  display: inline-block;
  font-size: 1rem;
  line-height: 1.2777778rem;
  font-family: SF-Mono-Medium;
  font-weight: 500;
  text-transform: uppercase;
}

h4::before, figcaption::before {
  content: "[";
}

h4::after, figcaption::after {
  content: "]";
}

p, li {
  letter-spacing: -0.5px;
  color: #8B8B8B;
  font-size: 1rem;
  line-height: 1.40555558rem;
  margin-top: 0rem;
  margin-bottom: 0.2777778rem;
  font-family: SFProText;
  font-weight: 500;
  -webkit-hyphens: auto;
          hyphens: auto;
  word-wrap: break-word;
}

figcaption {
  text-align: center;
}

ol {
  list-style-type: decimal;
}

li {
  font-size: 1.25rem;
  margin-bottom: 0.5555556rem;
}

/**reponsive sizes**/
a {
  text-decoration: none;
  font-family: SF-Mono-Medium;
  font-weight: 700;
  color: #2a2a2a;
}

h1 {
  color: #2a2a2a;
  font-size: 5rem;
  line-height: 4.5rem;
  margin-top: 1.2777778rem;
  font-family: SF-Mono-Medium;
  letter-spacing: -4px;
  font-weight: 600;
  text-wrap: nowrap;
  font-style: normal;
  margin: 0;
}

h2 {
  display: flex;
  color: #2a2a2a;
  font-size: 2.6111111rem;
  line-height: 3.8333333rem;
  letter-spacing: -2px;
  font-family: SF-Mono-Medium;
  font-weight: 500;
  font-style: normal;
  word-wrap: break-word;
}

h3 {
  color: #2a2a2a;
  font-size: 2.1481481333rem;
  margin-bottom: 0.2777778rem;
  letter-spacing: -1px;
  /*font code*/
  font-family: SFProText;
  font-weight: 500;
  vertical-align: top;
}

h4, figcaption {
  color: #8B8B8B;
  display: inline-block;
  font-size: 1rem;
  line-height: 1.2777778rem;
  font-family: SF-Mono-Medium;
  font-weight: 500;
  text-transform: uppercase;
}

h4::before, figcaption::before {
  content: "[";
}

h4::after, figcaption::after {
  content: "]";
}

p, li {
  letter-spacing: -0.5px;
  color: #8B8B8B;
  font-size: 1rem;
  line-height: 1.40555558rem;
  margin-top: 0rem;
  margin-bottom: 0.2777778rem;
  font-family: SFProText;
  font-weight: 500;
  -webkit-hyphens: auto;
          hyphens: auto;
  word-wrap: break-word;
}

figcaption {
  text-align: center;
}

ol {
  list-style-type: decimal;
}

li {
  font-size: 1.25rem;
  margin-bottom: 0.5555556rem;
}
.underlinelink{

 
  background-color: #F0F0F0;
}

.underlinelink:hover{

  text-decoration: underline;
  text-decoration-thickness: 2px;
}
.container {
  max-width: 100vw;
  padding: 0rem 14rem;
}

/**larger desktop**/
@media (max-width: 1024px) {
  .container {
    max-width: 100vw;
    padding: 0rem 8rem;
  }
  html {
    font-size: 14px;
  }
}
/** m size**/
@media (max-width: 768px) {
  h1 {
    font-size: 5.2rem;
  }
}
/** s size **/
@media (max-width: 640px) {
  .container {
    padding: 0rem 2rem;
  }
}
html.is-changing .transition-main {
  transition: opacity 250ms ease-in-out;
}

html.is-leaving .transition-main {
  transition: opacity 250ms ease-in-out;
}

html.is-animating .transition-main {
  opacity: 0;
}

.change:before {
  content: "jason [";
}

.cursor:after {
  opacity: 1;
  content: "] zachariah";
}

::view-transition-group(*) {
  animation-duration: 0.5s;
}

#homedesnbook,#desnbook{
  view-transition-name: picture;
}

#homewizedos,#wizedos{
  view-transition-name: picture;
}