
/* file import */
@import 'variables';
@import 'mixins';
@import 'card';
@import url("https://use.typekit.net/qvu8qst.css");

* {box-sizing: border-box;}


body {
    display: block;
    margin: 0px;
}


h2 {

    display: flex;
    width: 246px;
    height: 80.337px;
    padding: 5px;
    justify-content: center;
    align-items: center;
    gap: 10px;
    flex-shrink: 0;

    background-color: aliceblue;
     border: 4px solid $primary-black;


    color:$primary-black;
    font-size: 3rem;
    font-family: $primary-font;
    font-weight: 800;
    word-wrap: break-word
}



h3 { 
    /*Border code*/ 
    display: flex;
    align-items: center;
    color: $primary-black;
    font-size: 2rem;
  

/*font code*/
    font-family: $secondary-font;
    font-weight: 400;



   

}
h3::after {
    content: '';
    flex: auto;
    margin-left: 2rem;
    border-top: 1px dashed $primary-black;
  
  }

h4 {
    color: $primary-black;
    font-size: 1rem;
    font-family: $secondary-font;
    font-weight: 600;
    text-transform: uppercase;
    word-wrap: break-word
}

h5 {
    color: $primary-black;
    font-size: 1.25rem;
    font-family: $secondary-font;
    font-weight: 700;
    text-transform: uppercase;
    word-wrap: break-word
}

h6 {
    color: black;
    font-size: 1rem;
    font-family: $primary-font;
    font-weight: 400;
    word-wrap: break-word
}

p {
    color: $primary-black;
    font-size: 1rem;
    font-family: $primary-font;
    font-weight: 300;
    word-wrap: break-word
}

.nav{
    width: 110%;
    height: 60px;
   
    display: flex;
    position: relative;
    justify-content: center;
    align-items: center;
    border-bottom: 1px black solid

}
.navcontainer {
   margin-left: 128px;
   margin-right: 128px;
    width: 100%;
    height: 60px;
    display: flex;
    position: relative;
    justify-content: flex-end;
    align-items: center;
    
    
}



button{

    color: $primary-black;
    font-size: 1rem;
    font-family: $secondary-font;
    font-weight: 600;
    text-transform: uppercase;
    word-wrap: break-word;
    display: flex;
    width: 105px;
    padding: 10px;
    margin-left: 10px;
    margin-right: 10px;
    border-radius: 100px;
    border: 1px solid var(--grey, $primary-black);
    background: $accent;
    justify-content: center;
    align-items: center;
    gap: 10px;
    transition-duration: 0.4s;

}
button:hover{

    background: #409520;
}


.border{
    width: 7.5rem;
    height: 3rem;
 display: flex;
    padding: 5px;
    justify-content: center;
    align-items: center;
    gap: 10px;
    flex-shrink: 0;

    background-color: aliceblue;
     border: 1px solid $primary-black;


}
